#### 2.3 변수와 입력

- 변수

In [1]:
pi = 3.1415926535
pi + 2

5.1415926535

In [3]:
radius = 10
print(f'원의 둘레: {2 * pi * radius}')
print(f'원의 면적: {pi * radius ** 2}')

원의 둘레: 62.83185307
원의 면적: 314.15926535

- 복합 대입 연산자( +=, *=, -=, ...)

In [4]:
odd_sum = 0
for i in range(1, 100, 2):
    odd_sum += i
print(odd_sum)

2500

In [5]:
ten_factorial = 1
for i in range(1, 11):
    ten_factorial *= i
print(ten_factorial)

3628800

In [6]:
hello = ''
for i in range(3):
    hello += '안녕'         # hello = '안녕' * 3
print(hello)

안녕안녕안녕

- 표기법

In [7]:
# Snake notation
my_height = 175         # myHeight
my_weight = 70          # myWeight

In [8]:
한글변수 = 5
print(한글변수)         #변수명에 한글 사용가능

5

- 여러 개의 변수

In [9]:
x, y, z = 10, 20, 30            # tuple unpacking

In [10]:
# Swapping(x와 y의 값을 서로 바꿈)
# 일반적인 언어
temp = x
x = y
y = temp
x, y

(20, 10)

In [11]:
#파이썬에서는 아래와 같이 사용 가능
x, y = y, x
x, y

(10, 20)

- 값이 없을 경우

In [12]:
x = None        ##Java, JS에선 null

- 입력 (input)

In [15]:
a = input('prompt> ')           # 입력받은 값은 문자열 자료형으로 출력됨
a, type(a)

('25', str)

In [18]:
# 문자열이기때문에 계산등을 위해선 형변환을 해줘야함
a = input('첫번째 정수를 입력하세요> ')
b = input('두번째 정수를 입력하세요> ')
print(a + b)
a = int(input('첫번째 정수를 입력하세요> '))
b = int(input('두번째 정수를 입력하세요> '))
print(a + b)

34
7

In [21]:
# inch 단위를 cm단위로 변환
inch = float(input('인치값 입력> '))
cm = inch * 2.54
print(f'{inch} 인치는 {cm:.2f} 센티미터입니다.')

4.0 인치는 10.16 센티미터입니다.

- input하나에 입력값 여러개 받기

In [22]:
# 문자열 split() method
'10 20'.split(' ')          # split 괄호안을 생략하면 ' '

['10', '20']

In [27]:
a, b = '10 20'.split()
a, b

('10', '20')

In [30]:
a, b = input('두개의 숫자 입력> ').split()          # 3 4
a, b

('3', '4')

In [31]:
a, b = input('두개의 숫자 입력(,로 구분)> ').split(',')          # 3 4
a, b

('3', '4')

In [32]:
# list 각 원소에 함수를 적용하려면 map이용
list(map(int, ['10', '20']))       # [int('10'), int('20')]

[10, 20]

In [33]:
a, b = map(int, ['10', '20'])
a, b

(10, 20)

In [35]:
# 첫번쨰 split()과 두번쨰 map()을 결합
a,b = map(int, input('두개의 숫자 입력>').split())       # 3 4
a, b, a + b

(3, 4, 7)

In [38]:
# x, y, z에 세개의 실수 입력값을 지정하고 싶을 경우
x, y, z = map(float, input('세개의 실수 입력> ').split())
x, y, z

(1.0, 2.0, 3.0)