# 2차원 리스트

In [8]:
a = [[10, 20],[30,40],[50,60]]
a

[[10, 20], [30, 40], [50, 60]]

In [9]:
from pprint import pprint
pprint(a, indent=1, width=20)

[[10, 20],
 [30, 40],
 [50, 60]]

In [10]:
import numpy as np
b = np.arange(1, 7).reshape(3, 2) * 10
b

array([[10, 20],
       [30, 40],
       [50, 60]])

In [11]:
import pandas as pd
df = pd.DataFrame(b, columns=['첫째열', '둘째열'])
df

   첫째열  둘째열
0   10   20
1   30   40
2   50   60

- 인덱싱

In [12]:
# list a에서 30을 빼내기
a[1][0]     #[행인덱스][열인덱스]

30

In [13]:
# numpy indexing
b[1, 0]     #[행인덱스, 열인덱스]

30

In [14]:
# data frame indexing
df['첫째열'][1]     # [열 인덱스][행 인덱스]

30

- 2차원 리스트의 반복문

In [15]:
for row in a:
    print(row)

[10, 20]
[30, 40]
[50, 60]

In [16]:
len(a)

3

In [17]:
for row in a:
    for element in row:
        print(element)

10
20
30
40
50
60

In [18]:
for row in a:
    for element in row:
        print(element, end=' ')
    print()

10 20
30 40
50 60

- 반복문으로 2차원 리스트 만들기
    - [[10, 11], [20, 21], [30, 31]]

In [19]:
# 출력해보기
for i in range(1, 4):
    for j in range(10*i, 10*i + 2):
        print(j, end=' ')
    print()

10 11
20 21
30 31

In [20]:
outer_list = []
for i in range(1, 4):
    inner_list = []
    for k in range(2):
        inner_list.append(i * 10 + k)
    outer_list.append(inner_list)
pprint(outer_list, width=20)

[[10, 11],
 [20, 21],
 [30, 31]]

In [21]:
import random
ol = []
for i in range(3):
    il = []
    for j in range(4):
        il.append(random.randint(1, 6))
    ol.append(il)
pprint(ol, width=20)

[[5, 4, 2, 4],
 [1, 6, 6, 6],
 [1, 5, 1, 4]]

- 리스트 표현식

In [22]:
# 바깥쪽:       [... for i in range(3)]
# 안쪽  :       [... for k in range(4)]
dice_list = [[random.randint(1, 6) for k in range(4)] for i in range(3)]
pprint(dice_list, width=20)

[[4, 6, 1, 5],
 [3, 2, 3, 1],
 [6, 5, 6, 3]]

In [23]:
list_alpha = [[i*10+k for k in range(2)]for i in range(1,4)]
pprint(list_alpha, width=20)

[[10, 11],
 [20, 21],
 [30, 31]]

In [35]:
# random() > 0.7 --> 지뢰(*), 아니면.
# 8 X 8 크기

minehunt = []
for i in range(8):
    row = []
    for j in range(8):
        if random.random() > 0.7:
            row.append('X')
        else:
            row.append('O')
    minehunt.append(row)

O O O O X X O O
O O O X X O O O
O O X O O O O O
X O O O O O O O
X X X O O O O X
X O O X O O X X
O O O O O O O O
O O O O X X O O

In [37]:
minehunt = []
for i in range(8):
    row = []
    for j in range(8):
        mine = 'X' if random.random() > 0.7 else 'O'
        row.append(mine)
    minehunt.append(row)
minehunt

[['O', 'O', 'O', 'O', 'O', 'O', 'X', 'X'],
 ['O', 'O', 'O', 'O', 'X', 'O', 'X', 'O'],
 ['O', 'O', 'O', 'O', 'X', 'O', 'X', 'O'],
 ['O', 'X', 'O', 'O', 'O', 'O', 'O', 'X'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'X', 'X', 'X', 'O', 'X', 'O'],
 ['O', 'O', 'X', 'O', 'O', 'X', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'X', 'O', 'O']]