### 8-1. 클래스의 기본
- 클래스 생성시 클래스명은 대문자로 시작
    - 상수(취급)는 모두 대문자로 선언, 값 변경 가능하지만 상수취급

- 자료형별 Person

In [35]:
# 리스트 형식
person_list = ['James', 175.0, 70.0, 2000]

In [36]:
# 딕셔너리 형식
person_dict = {'name':'James', 'height':175.0, 'weight':70.0, 'birth_year':2000}

In [37]:
# 클래스 형식
class Person:
    def __init__(self):
        self.name = 'James'
        self.height = 175.0
        self.weight = 70.0
        self.birth_year = 2000

In [38]:
print(person_list)
print(person_dict)

['James', 175.0, 70.0, 2000]
{'name': 'James', 'height': 175.0, 'weight': 70.0, 'birth_year': 2000}

In [39]:
james = Person()
print(james.name, james.height, james.weight, james.birth_year)

James 175.0 70.0 2000

In [40]:
# 클래스는 범용적으로 만들어 인스턴스화 할때 객체의 값 할당
class Person:
    def __init__(self, name, height, weight, birth_year):
        self.name = name
        self.height = height
        self.weight = weight
        self.birth_year = birth_year

In [41]:
james = Person('James', 175.0, 70.0, 2000)
maria = Person('Maria', 163.0, 50.0, 2001)
print(maria.name)

Maria

- 메서드 (method)
    - 클래스가 가지는 함수
    - 객체가 할 수 있는 행위를 모델링

In [42]:
import datetime as dt

now = dt.date.today()

class Person:
    def __init__(self, name, height, weight, birth_year):
        self.name = name
        self.height = height
        self.weight = weight
        self.birth_year = birth_year

    def get_bmi(self):
        bmi = self.weight / (self.height / 100) ** 2
        return round(bmi, 2)
    
    def get_age(self):
        return now.year - self.birth_year
    
    def get_info(self):
        return f'이름:{self.name} 키:{self.height}cm 몸무게:{self.weight}kg ' + \
                f' BMI: {self.get_bmi()} 나이: {self.get_age()}'

In [43]:
james = Person('James', 175.0, 70.0, 2000)
maria = Person('Maria', 163.0, 50.0, 2001)

print(f'{james.name}의 BMI는 {james.get_bmi()} 입니다.')
print(f'{maria.name}의 BMI는 {maria.get_bmi()} 입니다.')

James의 BMI는 22.86 입니다.
Maria의 BMI는 18.82 입니다.

In [44]:
print(f'{james.name}의 나이는 {james.get_age()} 입니다.')
print(f'{maria.name}의 나이는 {maria.get_age()} 입니다.')

James의 나이는 23 입니다.
Maria의 나이는 22 입니다.

In [45]:
print(james.get_info())
print(maria.get_info())

이름:James 키:175.0cm 몸무게:70.0kg  BMI: 22.86 나이: 23
이름:Maria 키:163.0cm 몸무게:50.0kg  BMI: 18.82 나이: 22

- 연습문제: class Tmoney
    - 속성으로 나이(age)와 잔액(balance)을 가지고 있음
    - pay()
        - age=N의 요금은 x원이고, 잔액은 y원입니다.
        - 잔액이 부족합니다. ㅠㅠ

In [61]:
class Tmoney:

    def __init__(self, age, balance):
        self.age = age
        self.balance = balance

    def pay(self):
        if 7 <= self.age <= 12:
            fare = 650
        elif 13 <= self.age <= 18:
            fare = 1050
        elif self.age >= 19:
            fare = 1250
        else:
            fare = 0

        if self.balance < fare:
            print('잔액이 부족합니다ㅜㅜ')
            return
        self.balance -= fare
        print(f'{self.age}살의 요금은 {fare:,d}원이고, 잔액은 {self.balance:,d}원 입니다.')

    def charge(self, amount):
        self.balance += amount
        print(f'{amount:,d}원이 충전되어 잔액은 {self.balance}원입니다.')

In [80]:
card = Tmoney(15, 10000)

In [84]:
for i in range(10):
    card.pay()

15살의 요금은 1,050원이고, 잔액은 19,500원 입니다.
15살의 요금은 1,050원이고, 잔액은 18,450원 입니다.
15살의 요금은 1,050원이고, 잔액은 17,400원 입니다.
15살의 요금은 1,050원이고, 잔액은 16,350원 입니다.
15살의 요금은 1,050원이고, 잔액은 15,300원 입니다.
15살의 요금은 1,050원이고, 잔액은 14,250원 입니다.
15살의 요금은 1,050원이고, 잔액은 13,200원 입니다.
15살의 요금은 1,050원이고, 잔액은 12,150원 입니다.
15살의 요금은 1,050원이고, 잔액은 11,100원 입니다.
15살의 요금은 1,050원이고, 잔액은 10,050원 입니다.

In [83]:
card.charge(10000)

10,000원이 충전되어 잔액은 20550원입니다.

In [85]:
# 객체의 속성
maria.weight -= 2
print(maria.get_info())

이름:Maria 키:163.0cm 몸무게:48.0kg  BMI: 18.07 나이: 22